@model ClothingShopping.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <ejs-textbox id="Image" ejs-for="Image" data-val-required="The Image field is required."  floatLabelType="Always" placeholder="Image"></ejs-textbox>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="Name" ejs-for="Name"data-val-required="The Name field is required." floatLabelType="Always" placeholder="Name"></ejs-textbox>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="Description" data-val-required="The Description field is required." ejs-for="Description" floatLabelType="Always" placeholder="Description"></ejs-textbox>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>


