@model IEnumerable<ClothingShopping.Models.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //                <e-grid-column type="checkbox" width="50"></e-grid-column>

}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="View_All">
    @Html.Partial("ListCategory",Model)
</div>
@* //GridView by EJ2 
<div id="GridView">
    @Html.Partial("GridViewCategory",Model)

</div>*@