@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = null;
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString("Cart");
    var cart = jsoncart != null ? JsonConvert.DeserializeObject<List<CartViewModel>>(jsoncart) : new List<CartViewModel>();
    double Sum = cart.Count() > 0 ?
    cart.Sum(p => p.ThanhTien) : 0;
    string TongSL = cart.Count().ToString();
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}

<header class="header-section">
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-1">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="~/Home-Page/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-4">
                    <div class="nav-item">
                        <div class="container" style="background:white">
                            <nav class="nav-menu mobile-menu">
                                <ul style="background:#212529">
                                    <li class="active"><a href="./index.html">Home</a></li>
                                    <li><a href="/Home/Shopping">Shop</a></li>

                                    <li><a href="./blog.html">Checkout</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="cart-icon">
                            <a href="~/Cart/Index">
                                <i class="icon_bag_alt"></i>
                                <span><div id="SumItemsModal">@TongSL</div></span>
                            </a>
                            <div id="Modal-cart">
                                @Html.Partial("_Modal_Cart",cart)
                            </div>
                        </li>
                        <li class="cart-price"><div id="TotalModal">@String.Format(info, "{0:c}", Sum)</div></li>
                    </ul>
                </div>
                <div class="col-sm-1 text-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

</header>
